@import "./theme.sass";
@import "bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

@import "./base.sass";

[data-bs-theme="dark"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-black);
    --bs-body-bg-rgb: #{to-rgb($black)};
    --bs-tertiary-bg: #{$gray-100};
}
