/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";

.dark {
  --color-primary: #2979ff;
  --color-secondary: #fb8c00;
  --color-accent: #ff5252;
  --color-primary-hover: #5393ff;
  --color-secondary-hover: #ffb347;
  --color-accent-hover: #ff6f6f;
  --color-background: #121212;
  --color-forground: #e0e0e0;
  --color-button-background: #1e1e1e;
  --color-button-forground: #e0e0e0;
  --color-button-background-hover: #2a2a2a;
}

.light {
  --color-primary: #2979ff;
  --color-secondary: #fb8c00;
  --color-accent: #ff5252;
  --color-primary-hover: #5393ff;
  --color-secondary-hover: #ffb347;
  --color-accent-hover: #ff6f6f;
  --color-background: #ffffff;
  --color-forground: #121212;
  --color-button-background: #f5f5f5;
  --color-button-forground: #121212;
  --color-button-background-hover: #e0e0e0;
}


@theme {
  --color-background: var(--color-background);
  --color-forground: var(--color-forground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-primary-hover: var(--color-primary-hover);
  --color-secondary-hover: var(--color-secondary-hover);
  --color-accent-hover: var(--color-accent-hover);
  --color-button-background: var(--color-button-background);
  --color-button-forground: var(--color-button-forground);
  --color-button-background-hover: var(--color-button-background-hover);
}

html,
body {
	scroll-behavior: smooth;
	scroll-padding-top: 4em;
	@apply bg-background text-forground;
}

h1 {
	@apply text-4xl md:text-5xl lg:text-6xl font-bold;
}
h2 {
	@apply text-3xl md:text-4xl lg:text-5xl font-bold;
}
h3 {
	@apply text-2xl md:text-3xl lg:text-4xl font-bold;
}
h4 {
	@apply text-xl md:text-2xl lg:text-3xl font-bold;
}
h5 {
	@apply text-lg md:text-xl lg:text-2xl font-bold;
}
h6 {
	@apply text-base md:text-lg lg:text-xl font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0;
}

hr {
	@apply my-8 xl:my-12 border-[0.5px];
}

svg {
  display: inline-block;
  fill: currentColor;
  vertical-align: bottom;
  transform: translateY(-4px);
}


/* ダークモード切替ボタン */
html .darkicon {
  @apply scale-0 absolute;
}

html .lighticon {
  @apply scale-100 absolute;
}

html.dark .darkicon {
  @apply scale-100 absolute;
}

html.dark .lighticon {
  @apply scale-0 absolute;
}

.katex-display {
	overflow-x: auto;
	overflow-y: hidden;
    text-align: center;
	white-space: nowrap;
}

#article-content {
	/* paragraphs */
	p {
		@apply tracking-wide leading-relaxed 2xl:leading-loose sm:text-[1.125rem] lg:text-[1.25rem];
	}

	/* list */
	ul {
		@apply pl-4.5 xl:pl-5 list-outside list-disc my-4;
	}

	ol {
		@apply pl-4.5 xl:pl-5 list-outside list-decimal my-4;
	}

	ol > li::marker {
		@apply font-semibold;
	}

	ul > li,
	ol > li {
		@apply py-1 tracking-wide leading-relaxed 2xl:leading-loose lg:text-[1.125rem] xl:text-[1.25rem];
	}

	ul > li > ul {
		@apply py-1 my-0;
	}

	ol > li > ol {
		@apply pl-6 py-0 my-0;
	}

	/* footnote ol */
	ol > li[id^="user-content-fn"] p {
		@apply inline;
	}

	/* image */
	img {
		@apply rounded-md lg:max-w-[80%] xl:max-w-[75%] mx-auto m-12 xl:mt-12;
	}

	/* blockquote */
	blockquote {
		@apply block border-primary border-3 px-4 py-2 w-full h-fit my-8 xl:my-12 text-gray-500;
	}

	/* table */
	table {
		@apply w-full border-collapse my-8 xl:my-12;
	}
	th,
	td {
		@apply border border-forground px-4 py-2 text-left;
	}

	/* hr */
	hr {
		@apply my-8 xl:my-12 border-[0.5px];
	}

	/* iframe */
	iframe {
		@apply w-full h-fit mx-auto aspect-video;
	}

	/* code */


	/* link */
	a {
		@apply text-primary underline decoration-1 underline-offset-2;
	}
	
	/* code block */

	p > code,
	li > code {
		@apply text-sm lg:text-base xl:text-lg border px-1 py-0.5 rounded-md;
	}

	.expressive-code {
		@apply my-8 xl:my-12 rounded-md;
	}
}