/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";


@theme {
  --color-primary: #2979ff;
  --color-secondary: #fb8c00;
  --color-accent: #ff5252;
}

main {
	width: 960px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}

p {
	margin: 1em;
}

hr {
	@apply my-8 xl:my-12 border-[0.5px];
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
	h1 {
		font-size: 2.488em;
	}
	h2 {
		font-size: 2.074em;
	}
	h3 {
		font-size: 1.728em;
	}
	h4 {
		font-size: 1.44em;
	}
	h5 {
		font-size: 1.2em;
	}
	h6 {
		font-size: 1em;
	}
}
.katex-display {
	overflow-x: auto;
	overflow-y: hidden;
    text-align: center;
	white-space: nowrap;
}

#article-content {
	/* paragraphs */
	p {
		@apply tracking-wide leading-relaxed 2xl:leading-loose sm:text-[1.125rem] lg:text-[1.25rem];
	}

	/* list */
	ul {
		@apply pl-[1.125rem] xl:pl-[1.25rem] list-outside list-disc my-4;
	}

	ol {
		@apply pl-[1.125rem] xl:pl-[1.25rem] list-outside list-decimal my-4;
	}

	ol > li::marker {
		@apply font-semibold;
	}

	ul > li,
	ol > li {
		@apply py-1 tracking-wide leading-relaxed 2xl:leading-loose lg:text-[1.125rem] xl:text-[1.25rem];
	}

	ul > li > ul {
		@apply pl-4 py-1 my-0;
	}

	ol > li > ol {
		@apply pl-6 py-0 my-0;
	}

	/* footnote ol */
	ol > li[id^="user-content-fn"] p {
		@apply inline;
	}

	/* image */
	p > img {
		@apply rounded-md lg:max-w-[75%] xl:max-w-[66.6666%] mx-auto m-12 xl:mt-12;
	}

	/* blockquote */
	blockquote {
		@apply block border-primary border-3 px-4 py-2 w-full h-fit my-8 xl:my-12;
	}

	/* hr */
	hr {
		@apply my-8 xl:my-12 border-[0.5px];
	}

	/* iframe */
	p > iframe {
		@apply w-full h-fit mx-auto aspect-video;
	}
}