---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="About Me" date={new Date('2022-09-26T21:10:42+09:00')}>
	<p>東京工業大学 工学院機械系 B4</p>
	<p>鳥人間サークルMeister24代 設計＆電装・操舵班主任</p>
	<p>宇宙工学、機械学習、組み込み開発、航空力学、複合航法に興味があります。</p>
</Layout>
