---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Card from "../components/Card.astro";
import { SITE_TITLE } from "../consts";
import { type CollectionEntry, getCollection, render } from "astro:content";

const sortedPosts = (await getCollection("blog"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h3>Blog Posts</h3>
				<div class="grid md:grid-cols-3 gap-8">
					{
						sortedPosts.map((post) => (
							<Card title={post.data.title} date={post.data.date} id={post.id} />
						))
					}
						<button>
							<a href="/blog/">
								<h2 class="title">Read more</h2>
							</a>
						</button>
					</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
