---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Icon from "./Icon.astro";
import ThemeToggle from "./ThemeToggle.astro";
import Avatar from "../assets/avatar128x128.jpg";
import { Image } from "astro:assets";
---

<nav
  class="sticky top-0 z-50 bg-background after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10 text-foreground shadow-md opacity-95"
>
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="block">
        <a href="/" class="flex items-center space-x-2">
          <Image
            src={Avatar}
            alt="すずゆー"
            class="object-cover rounded-full h-10 w-10"
            format="webp"
            loading="eager"
          />
        </a>
      </div>

      <div class="flex sm:hidden flex-1 justify-center items-center"></div>

      <div class="block sm:hidden mx-4">
        <!-- Mobile menu button-->
        <button
          type="button"
          onclick="toggleDisclosure('mobile-menu')"
          class="items-center justify-center rounded-md p-2 focus:outline-2 focus:-outline-offset-1 focus:outline-primary"
        >
          <span class="sr-only">Open main menu</span>
          <!-- Heroicon name: outline/bars-3 -->
          <Icon name="menu_open" />
        </button>
      </div>

      <!-- Desktop navigation -->
      <div class="hidden sm:ml-6 sm:block">
        <div class="flex space-x-4">
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/blog">Blog</HeaderLink>
          <HeaderLink href="/tags">Tags</HeaderLink>
          <HeaderLink href="/about">About</HeaderLink>
        </div>
      </div>

      <div class="block m-4">
        <ThemeToggle />
      </div>
    </div>
  </div>

  <!-- Mobile navigation -->
  <el-disclosure id="mobile-menu" hidden class="block sm:hidden">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/tags">Tags</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </el-disclosure>
</nav>

<script is:inline>
  function toggleDisclosure(id) {
    const menu = document.getElementById(id);
    const expanded = menu.hasAttribute("hidden") ? "false" : "true";
    if (expanded === "false") {
      menu.removeAttribute("hidden");
    } else {
      menu.setAttribute("hidden", "");
    }
  }
</script>
