---
import type { HTMLAttributes } from 'astro/types';
import '../styles/global.css';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class={
	isActive
		? `block rounded-md px-3 py-3 font-medium hover:bg-primary-hover hover:text-white/100 bg-black/10  text-decoration-underline`
		: `block rounded-md px-3 py-3 font-medium hover:bg-primary-hover hover:text-white/100`
	}>
	<slot/>
</a>