<div class="card m-2 ">
  <div class="card-body  text-start">
    <div class="card-title">
      <div class="row">
        <span class="col text-start text-secondary">
          {{ .Date.Format "2006-01-02" }}
        </span>
        <h5 class="text-center">
          {{ .Title | markdownify }}
        </h5>
      </div>
    </div>
    {{- $summary := truncate 160 .Summary }}
    {{- if .Params.summary }}
    {{- $summary = .Params.summary }}
    {{- else if .Params.abstract }}
    {{ $summary = .Params.abstract }}
    {{- end }}
    {{ $summary | markdownify }}
  </div>
  <a href="{{ .Permalink }}" class="btn btn-outline-primary">Read More</a>
</div>