<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid bg-primary">
        <a class="navbar-brand" style="color: white;" href="/">{{ .Site.Title }}</a>
        <div class="vr"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a
                        style="color:white;"
                        class="nav-link active"
                        href="{{ .URL | relURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
            <hr>
            <div class="d-flex">
                {{ with .Site.Params.social }}
                {{ range $key, $value := . }}
                <a href="https://{{ $key }}.com/{{$value}}" class="btn" role="button" aria-pressed="true">
                    <i class="bi bi-{{$key}}"></i>
                </a>
                {{end}}
                {{ end }}
            </div>
            </div>
        </div>
    </div>
    <hr />
</nav>