{{- $pager := .Paginator }}
<ul>
{{range $pager.Pages}}
{{partial "excerpt.html" .}}
{{end}}
</ul>
{{- if gt $pager.TotalPages 1 }}
<div class="pagination mt-4">
    <li class="page-item">
        {{ if $pager.HasPrev }}
        <a class="btn btn-outline-primary" href="{{ $pager.Prev.URL }}#pager" aria-label="Previous">
            &laquo;
        </a>
        {{- else }}
        <a class="page-link disabled" href="" aria-label="Previous">
            &laquo;
        </a>
        {{- end }}
    </li>

    {{- range $pager.Pagers }}
    <li class="page-item">
        <a href="{{ .URL }}#pager" class="page-link {{ if eq . $pager }} active{{ end }}">{{ .PageNumber }}</a>
    </li>
    {{- end }}

    <li class="page-item">
        {{ if $pager.HasNext }}
        <a class="page-link" href="{{ $pager.Next.URL }}#pager" aria-label="Next">
            &raquo;
        </a>
        {{- else -}}
        <a class="page-link disabled" href="" aria-label="Previous">
            &raquo;
        </a>
        {{- end }}
    </li>
</div>
{{- end }}