<div class="row p-3  align-items-center bg-outline-primary-subtle border border-primary-subtle rounded-3">
    <a class="col-1 text-center" href="{{.Site.BaseURL}}/tags">tags</a>
    <div class="col-1 text-center">:</div>
    <div class="btn-group-sm col" role="group">
        {{ range .Params.tags }}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a href="{{ $href }}" class="btn btn btn-outline-primary" roll="tab">
            <div class="bi bi-tag">{{ . }}</div>
        </a>
        {{ end }}
    </div>
</div>